.jumbotron {
    padding-top: 6rem;
    background-color: #e2edff;
}

#home .jumbotron text-center,
h3 {
    font-size: 40px;
    color: transparent;
    -webkit-text-stroke: .5px #fff;
    background-image: linear-gradient(#00abf0, #00abf0);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -410px 0;
    animation: animateText 6s linear infinite;
}

#projects {
    background-color: #e2edff;
}

section {
    padding-top: 5rem;
}